/* 一个通用的 CSS 选择器，将以下样式应用于所有元素 */
/* 这段代码的作用是重置所有元素的外边距和内边距，并使用 border-box 盒模型。通过将外边距和内边距设置为 0，可以消除不同浏览器之间的默认差异。使用 border-box 盒模型可以更方便地控制元素的宽度和高度，因为它会将边框和内边距计算在内。这样可以确保元素的实际尺寸不会受到边框和内边距的影响。 */
* {
  margin: 0; /* 设置外边距为 0 */
  padding: 0; /* 设置内边距为 0 */
  box-sizing: border-box; /* 使用 border-box 盒模型，确保元素的宽度和高度包括边框和内边距 */
}


/*****请从这里开始写全局CSS*****/



/**************************/