@import "_config";
@import "_unit_handler";

// 设置div色块的长宽/背景色/边框
// @include bg(100px, 200px)
// @include bg(100px, 200px, red)
// @include bg(100px, 200px, red, 20px)
// @include bg(100px, 200px, red, 50%)
// 当设置了config参数可以省略单位
@mixin setBackground(
  $width,
  $height,
  $background_color: transparent,
  $border_radius: $DEFAULT_UNIT
) {
  @include _unit_handler(width, $width);
  @include _unit_handler(height, $height);
  background-color: $background_color;
  @include _unit_handler(border-radius, $border_radius);
}
// 设置div色块的长宽/背景色/边框
// 默认宽度为屏幕宽度
// @include fbg(200px)
// @include fbg(200px, red)
// @include fbg(200px, red, 20px)
// @include fbg(200px, red, 50%)
// 当设置了config参数可以省略单位
@mixin setFullWidthBackground(
  $height,
  $background_color: transparent,
  $border_radius: $DEFAULT_UNIT
) {
  @include setBackground(100%, $height, $background_color, $border_radius);
}

// 设置所有子元素默认横向居中对齐
@mixin app() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin setMainBackground(
  $height,
  $background_color: transparent,
  $width: $MAIN_PAGE_WIDTH,
  $border_radius: $DEFAULT_UNIT
) {
  @include setBackground($width,$height,$background_color,$border_radius);
}
