@import "_mixin";

// BackGround
@mixin bg(
  $width,
  $height,
  $background_color: transparent,
  $border_radius: 0px
) {
  @include setBackground($width, $height, $background_color, $border_radius);
}

// Full BackGround
@mixin fbg($height, $background_color: transparent, $border_radius: 0px) {
  @include setFullWidthBackground($height, $background_color, $border_radius);
}

// FlexCenter
@mixin fc(
  $flex_direction: row,
  $justify_content: space-evenly,
  $align_items: center,
  $align_content: space-evenly
) {
  @include setFlexCenter(
    $flex_direction,
    $justify_content,
    $align_items,
    $align_content
  );
}

// FlexEvenly
@mixin fb(
  $flex_direction: row,
  $justify_content: space-between,
  $align_items: center,
  $align_content: space-between
) {
  @include setFlexBetween(
    $flex_direction,
    $justify_content,
    $align_items,
    $align_content
  );
}
