// 设置div色块的长宽/背景色/边框
// @include bg(100px, 200px)
// @include bg(100px, 200px, red)
// @include bg(100px, 200px, red, 20px)
// @include bg(100px, 200px, red, 50%)
@mixin setBackground(
  $width,
  $height,
  $background_color: transparent,
  $border_radius: 0px
) {
  width: $width;
  height: $height;
  background-color: $background_color;
  border-radius: $border_radius;
}
// 设置div色块的长宽/背景色/边框
// 默认宽度为屏幕宽度
// @include bg(100px, 200px)
// @include bg(100px, 200px, red)
// @include bg(100px, 200px, red, 20px)
// @include bg(100px, 200px, red, 50%)
@mixin setFullWidthBackground(
  $height,
  $background_color: transparent,
  $border_radius: 0px
) {
  @include setBackground(100%, height, $background_color, $border_radius);
}

// 弹性布局
// display: flex;：将容器元素设置为弹性容器，启用 Flexbox 布局。
// flex-direction: row | row-reverse | column | column-reverse;：指定弹性项目的排列方向。默认值是 row，表示水平方向从左到右排列。
// justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;：控制弹性项目在主轴上的对齐方式。
// align-items: flex-start | flex-end | center | baseline | stretch;：控制弹性项目在交叉轴上的对齐方式。
// flex-wrap: nowrap | wrap | wrap-reverse;：指定弹性项目是否换行以及换行的方式。
// align-content: flex-start | flex-end | center | space-between | space-around | stretch;：控制多行弹性项目在交叉轴上的对齐方式。
// flex-grow: <number>;：指定弹性项目的放大比例，用于填充剩余空间。
// flex-shrink: <number>;：指定弹性项目的收缩比例，用于缩小超出的空间。
// flex-basis: <length> | auto;：指定弹性项目在主轴上的初始大小。
// flex: <flex-grow> <flex-shrink> <flex-basis>;：简写形式，同时设置 flex-grow、flex-shrink 和 flex-basis。
@mixin flex(
  $flex_direction: row,
  $justify_content: center,
  $align_items: center,
  $align_content: space-around,
  $flex_wrap: wrap
) {
  display: flex;
  flex-direction: $flex_direction;
  justify-content: $justify_content;
  align-items: $align_items;
  align-content: $align_content;
  flex-wrap: $flex_wrap;
}
