@import "_config";

// 这个混合宏 _unit_handler 用于处理属性值的单位。它接受多个参数，包括属性名称 $handler、属性值 $handler_value，以及可选的 $using_unit 和 $default_unit。根据配置，混合宏会根据不同的情况设置属性值。
// 如果 $using_unit 的值为 false，即不使用单位，则直接将属性值设置为 $handler_value。
// 如果 $using_unit 的值为 true，即使用单位，则根据属性值和默认单位进行处理：
// 如果属性值没有单位且默认单位为 0rem，则将属性值除以 100，并将结果设置为属性值。
// 如果属性值没有单位且默认单位不为 0rem，则将默认单位和属性值拼接，并将结果设置为属性值。
// 如果属性值有单位，则直接将属性值设置为 $handler_value。
@mixin _unit_handler(
  $handler,
  $handler_value,
  $using_unit: $USING_UNIT,
  $default_unit: $DEFAULT_UNIT
) {
  @if $using_unit == false {
    #{$handler}: $handler_value; // 不使用单位时直接设置属性值
  } @else {
    @if unit($handler_value) == "" and $default_unit == 0rem {
      #{$handler}: ($default_unit + $handler_value) / 100; // 如果属性值没有单位且默认单位为 0rem，则将属性值除以 100
    } @else if unit($handler_value) == "" and $default_unit != 0rem {
      #{$handler}: $default_unit + $handler_value; // 如果属性值没有单位且默认单位不为 0rem，则将默认单位和属性值拼接
    } @else {
      #{$handler}: $handler_value; // 属性值有单位时直接设置属性值
    }
  }
}

// 这个混合宏 _unit_selector 用于处理选择器的属性值的单位。它接受多个参数，包括属性名称 $handler、属性值 $handler_value，以及可选的 $using_unit 和 $default_unit。根据配置，混合宏会根据不同的情况设置属性值。
// 如果 $using_unit 的值为 false，即不使用单位，则将属性值设置为 0。
// 如果 $using_unit 的值为 true，即使用单位，则直接将属性值设置为 $handler_value。
@mixin _unit_selector(
  $handler,
  $handler_value,
  $using_unit: $USING_UNIT,
  $default_unit: $DEFAULT_UNIT
) {
  @if $using_unit == false {
    #{$handler}: 0; // 不使用单位时将属性值设置为 0
  } @else {
    #{$handler}: $handler_value; // 使用单位时直接设置属性值
  }
}
