// 占位符
%foo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 引入通用混合器
@import "_mixin";
@import "_mixin_abbr";

//*****请从这里开始写SCSS*****
// sass转换命令：
// sass-convert ./scss-style.scss ./scss-style.sass



//***************************
