@charset "UTF-8";
/* scss-style.css文件由scss-style.scss自动生成 */
#header_wrapper {
  width: 100%;
  height: 2rem;
  background-color: red;
  border-radius: 0rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}

#header_wrapper #header_main {
  width: 5rem;
  height: 1rem;
  background-color: yellow;
  border-radius: 0rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

#header_wrapper #header_main .square {
  width: 1rem;
  height: 1rem;
  background-color: green;
  border-radius: 0rem;
}
