// 占位符
%foo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 设置div色块的长宽以及背景色
@mixin bg($width, $height, $background_color){
  width: $width;
  height: $height;
  background-color: $background_color;
}

//*****请从这里开始写SCSS*****
// sass转换命令：
// sass-convert ./scss-style.scss ./scss-style.sass



