@charset "UTF-8";
/* scss-style.css文件由scss-style.scss自动生成 */
#app {
  width: 100%;
  height: 0.5rem;
  background-color: red;
  border-radius: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#floating_window {
  width: 1rem;
  height: 2rem;
  background-color: purple;
  border-radius: 0rem;
  position: fixed;
  left: 50%;
  transform: translateX(calc(10rem/ 2));
  top: 6rem;
}
